@import url('https://fonts.googleapis.com/css?family=Fira+Code|Fira+Sans|Rancho&display=swap');

body {
  font-family: 'Fira Sans', sans-serif;
  background: #eeeeee;
}
h1,
h2 {
  font-family: 'Rancho', cursive;
}
.toc {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 3px 16px -2px rgba(0, 0, 0, 0.1);
  padding: 32px;
  margin: 24px;
}
.group {
  margin-bottom: 32px;
}
.group h3 {
  margin-bottom: 0;
}
.group a {
  color: #444444;
}
