.content {
    background: #f9f9f9;
    border-radius: 4px;
    padding: 24px;
    box-shadow: 0 2px 5px #aaaaaa;
    margin: 16px;
}
.footer {
    background: #eee;
    border-radius: 4px;
    padding: 24px;
    box-shadow: 0 2px 5px #aaaaaa;
    margin: 16px;
}
h3 {
    background: #ccc;
    border-radius: 4px;
    padding: 24px;
    box-shadow: 0 2px 5px #aaaaaa;
    margin: 16px;
}
